<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>twit-live</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
  </head>
  <body>

    <h1>Twit-Live</h1>
    <p> Fun app using twitter api and socket.io </p>

    <div class="live-tweets">
      <p>
        Searching: <%= searchKey %>
      </p>
    </div>
    <div id="tweets"></div>


  </body>
</html>
